*{margin:0;padding:0;}
body{
	background: #f7f7f7 url('../img/lib/bj.png') repeat-x;
	font: italic 16px Tahoma;
	color: #737373;
	text-align:center;
}

#container{
	width:1100px;
	margin:auto;
	position:relative;
	text-align:center;
}

#logo{
position:absolute;
background: url('../img/lib/main.png');
width: 100%;
height: 586px;
margin: 0;

}

#autos{
background: url('../img/lib/autos.png') center;
margin:auto;
width: 100%;
height: 530px;
top:0;
position:absolute;

}

#menu{
width: 1100px;
text-align: center;
position:absolute;
margin-top:470px;
}

.main-menu a{
font: normal 16px Tahoma;
color: #737373;
text-decoration: none;
letter-spacing: 1px;
transition:  all .6s ease-in-out;
-moz-transition:  all .6s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-o-transition:  all .6s ease-in-out;
}

.main-menu a:hover{
transition:  all .6s ease-in-out;
-moz-transition:  all .6s ease-in-out;
-webkit-transition: all .6s ease-in-out;
-o-transition:  all .6s ease-in-out;
text-shadow: 1px 1px 10px #999;
}

.main-menu li{
display: inline;
margin-left: 15px;
}

.menu-footer{
	margin-top:20px;
}

#menu small{
letter-spacing: 1px;
font-weight: lighter;
}

.reserva{
position: absolute;
margin:70px 0 0 -100px;
}

span.res-car{
color:#838ca5;
font: bold 20px Tahoma;
font-style: italic;
transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform:rotate(-90deg);
-o-transform: rotate (-90deg);
display: block;
float: left;
}

.forma{

position: absolute;
margin: auto;
top:30px;
right:0;
text-align: left;
clear: both;
font: bold italic 12px Arial;
color: #f2f2f2;
}

.forma input.submit{
display: block;
margin: auto;
background: -webkit-linear-gradient(#ffdd00, #ffa400);
background: -moz-linear-gradient(#ffdd00, #ffa400);
background: -o-linear-gradient(#ffdd00, #ffa400);
background: linear-gradient(#ffdd00, #ffa400);
font-family: Arial;
font-weight: bold;
font-style:italic;
text-shadow: 1px 1px 5px #d69700;
color: #fff;
font-size: 14px;
padding: 5px 10px;
}

.forma select.sel{
    background-image: url('../img/lib/flea.png'), 
    -webkit-linear-gradient(#fff, #c3c3c3);
	 background-image: url('../img/lib/flea.png'),
    -moz-linear-gradient(#fff, #c3c3c3);
	 background-image: url('../img/lib/flea.png'), 
    -o-linear-gradient(#fff, #c3c3c3);
	 background-image: url('../img/lib/flea.png'), 
    linear-gradient(#fff, #c3c3c3);
    background-position: center right;
    background-repeat: no-repeat;
}

.forma select, .forma input{
-webkit-appearance: button;
-moz-appearance: button;
-o-appearance: button;
appearance: button;
  box-shadow: 0px 1px 3px #1b1b1b;
  background: -webkit-linear-gradient(#fff, #c3c3c3);
	 background: -moz-linear-gradient(#fff, #c3c3c3);
	 background: -o-linear-gradient(#fff, #c3c3c3);
	 background: linear-gradient(#fff, #c3c3c3);
  border: none;
  color: #b0b0b0;
  border-radius: 5px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px; 
  overflow: hidden;
}

.forma select.sel{
width: 230px;
}

.forma input.inp{
width: 100px;
text-align: center;
font-size: 16px;
}

.forma input.right{
margin-left: 27px;
}

.forma span.right{
margin-left: 80px;
}
.red{
width: 40px;
margin: auto;
position: absolute;
top:-460px;
left: 400px;
}