/* --- ESTILOS DEL SLIDER PRINCIPAL --- */
#slider{height:550px;}

/*#slider .slide div{position:absolute;width:100%;}*/
#slider .slide-text{font-size:55px;color:#fff;text-shadow: 0px 2px 3px #333;text-align: center;}
#slider .slide-img{width:100%;}

#slider .center{left: 0; right:0; margin-left: auto; margin-right: auto;}

#slide1 .slide-text{font-size:55px;color:#fff;margin:80px 0 20px 0px;}
#slide1 .slide-img{margin:200px 0 20px 0px;}