*{margin:0;padding:0;font-family:'helveticaneuelight', sans-serif; }
*, body, html { -webkit-font-smoothing: antialiased;}
a{text-decoration:none;}

@-moz-document url-prefix() {
  .firefix {
    font-weight: normal;
  }
}


@font-face {
	font-family: 'DidotLTPro-Italic';
	src: url('../fonts/didot.eot');
	src: url('../fonts/didot.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/didot.woff') format('woff'),
		 url('../fonts/didot.ttf') format('truetype');
		}
@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helveticaneue_bold-webfont.eot');
    src: url('../fonts/helveticaneue_bosld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue_bold-webfont.svg#helveticaneuebold') format('svg'),
         url('../fonts/helveticaneue_bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuelight';
    src: url('../fonts/helveticaneue_light-webfont.eot');
    src: url('../fonts/helveticaneue_light-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/helveticaneue_light-webfont.svg#helveticaneuelight') format('svg'),
         url('../fonts/helveticaneue_light-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

body{text-align:center; font-family:'helveticaneuelight', sans-serif; }

.bold{font-weight: bold;}
.didot {font-family: 'DidotLTPro-Italic', sans-serif;}

.last{margin-right:0 !important;}

#header{position:absolute;width:100%;
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 0px 2px 5px #333;
z-index:10;
}

.fullframe {position:relative; z-index:3; background: white;-moz-box-shadow: 0px 5px 6px -5px #000;
-webkit-box-shadow: 0px 5px 6px -5px #000;
box-shadow: 0px 5px 6px -5px #000;}

#header #menu-sup{background:#e0e0e0 url(../img/lib/menu-bg.png) repeat-x; height:80px;text-align:center; font-size: 14px; font-family:'helveticaneue', sans-serif;}
#header #menu-sup #menu-content{width:960px;margin:auto;position:relative;}
#header #menu-sup #menu-content #logo{width:210px;height:75px;position:absolute;background:url(../img/lib/logo.png) no-repeat center;margin:0;}

#header #menu-sup #menu-content #opciones{position:absolute;right:0;height:40px;overflow-x:auto;margin-top:45px;}
#header #menu-sup #menu-content #opciones .opcion{float:left; margin:0px 15px 0px 15px;display:block;color:#747474;font-size:14px; padding-bottom: 3px; text-shadow: 0px 1px rgba(255,255,255,.4);}

#header #menu-sup #menu-content #opciones .opcion:hover{border-bottom: 2px solid #00aeef; color: white; text-shadow: 0px 0px rgba(255,255,255,.4);}

#footer{height:640px; background:url(../img/lib/bg-footer.png) repeat-x; position: fixed; bottom: 0; width: 100%; z-index: 2;
}

#footerplaceholder { height: 640px; position: relative; z-index: 1; }

/* --- FOOTER --- */
#footer #footerinfo {height:450px; border-bottom: 1px solid #00aeef; text-align: left; font-family:'helveticaneue', sans-serif;}
#footer #footerinfo #map {background: url(../img/lib/footermap.jpg) no-repeat; position: absolute; margin: 100px 0px 0px 47px;}
#footer #footerinfo #leftarea {color: white; font-size: 13px; float: left; width:47%; position: relative; z-index: 2; margin-left: 47px;}
#footer #footerinfo #leftarea h1 {font-size: 50px; margin: 50px 0px 35px 0px; font-family: 'helveticaneuebold', sans-serif; }
#footer #footerinfo #leftarea span{font-weight: bold; font-family: 'helveticaneuebold', sans-serif;}
#footer #footerinfo #rightarea {font-family:'helveticaneuebold', sans-serif; color: white; font-size: 16px; float: right; width:47%; padding-top: 90px; position: relative; z-index: 2;}
#footer #footerinfo #rightarea input {font-family:'helveticaneue', sans-serif; font-size:14px; width:280px; height: 35px; padding: 0px 10px; color:#b6b6b6; font-size: 14px; border-radius: 3px; border: none; margin-top: 20px;}
#footer #footerinfo #rightarea #enviarbtn:hover {cursor: pointer;}
#footer #footerinfo #rightarea #enviarbtn {font-family:'helveticaneuebold', sans-serif; width: 300px; height:40px; border: 1px solid #04527f; background:url(../img/lib/btnbg.png) repeat-x; color: white; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5);}
#footer #footerinfo #rightarea #social {position: absolute; margin-top: -30px; margin-left: 250px;}
#footer #footerinfo #rightarea #social a#twitter { display: block; float: left;background:url(../img/lib/twitter.png); height: 35px; width: 35px;}
#footer #footerinfo #rightarea #social a#facebook { display: block; float: left; background:url(../img/lib/facebook.png); height: 35px; width: 35px; margin-left: 15px;}
#footer #footerinfo #rightarea #social #facebook:hover, #footer #footerinfo #rightarea #social #twitter:hover {background-position: 0px 35px;}
#footer #footerinfo #rightarea #bottombar {border-bottom: 1px solid #00aeef; width:300px; height:1px; margin: 55px 0px 40px 0px;}
#footer #copyright { font-size: 10px; text-align: center; margin-top: 40px; color: white;}

/* --- ESTILOS DE LA SECCION HOME --- */
#slider .ls-layer .sliderbg{width: 100% !important; left: 0; margin-left: auto; right: 0; margin-right: auto;}
#big-slider{height:700px;background:url(../img/lib/slider-bg-1.jpg) center;}
#big-slider .slider-content div{position:absolute;width:100%;}
#big-slider .slider-content .slider-text{font-size:55px;color:#fff;margin:140px 0 20px 0px;font-family:'helveticaneuelight', sans-serif; text-shadow: 0px 2px 3px #333}
#big-slider .slider-content .slider-img{margin:280px 0 20px 0px;}

#big-buttons{width:960px;margin:80px auto 80px auto;height:500px;}
#big-buttons .button{width:265px;min-height:400px;float:left;overflow-y:auto;margin-right:80px;}
#big-buttons .button .title{font-size:24px;text-align: center;color:#00aeef;}
#big-buttons .button .icon{margin:45px 0 40px;}
#big-buttons .button .text{text-align: justify;color:#888; font-size:16px; font-family: 'helveticaneue', sans-serif;}


#soporte-frame{background: url(../img/lib/bg-frame-soporte.jpg) center no-repeat;height:465px; background-size: cover;}
#soporte-frame .shadow {background: url(../img/lib/soporteframe.png) repeat-x; position: absolute; height: 465px; width: 100%;}

#lider-frame{background: url(../img/lib/bg-lider-frame.png) center repeat-x;height:705px;}
#lider-frame #icon-lider{position:absolute;background: url(../img/lib/icon-lider.png) center no-repeat;height:200px;width:100%;margin:115px 0 50px 0;}
#lider-frame #img-lider{position:absolute;background: url(../img/lib/lider-img.png) center no-repeat;height:245px;width:100%;bottom:0;}
#lider-frame #content-lider{font-size: 24px; color: #bcbcbc; position: absolute; margin-top: 375px; width:100%;}

/* --- SOPORTE FRAME --- */
.twocolumns {width: 42%; position: relative; float:left; color: white; padding: 60px 38px;}
.twocolumns div {text-shadow: 0px 0px 6px rgba(0,0,0, 0.5); margin-bottom: 40px; text-align: left; font-size: 16px;}
.twocolumns .bigtext {font-size: 50px; font-weight: bold; font-family: 'helveticaneuebold', sans-serif;}

.twocolumns form {text-align: left;}
.twocolumns input {font-family:'helveticaneue', sans-serif; width:280px; height: 35px; padding: 0px 10px; color:#b6b6b6; font-size: 12px; border-radius: 3px; border: none; margin-bottom: 20px;}
.twocolumns textarea {font-family:'helveticaneue', sans-serif; min-width:280px; max-width: 280px; min-height: 60px; max-height: 60px; padding: 10px 10px; color:#b6b6b6; font-size: 12px; border-radius: 3px; border: none; margin-bottom: 20px;}
.twocolumns #enviarbtn { font-family:'helveticaneuebold', sans-serif; font-size:14px; width: 300px; height:40px; border: 1px solid #04527f; background:url(../img/lib/btnbg.png) repeat-x; color: white; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5); }
.twocolumns #enviarbtn:hover {cursor: pointer;}
.twocolumns .innershadow {-moz-box-shadow: inset 0px 5px 6px -5px #000;
-webkit-box-shadow: inset 0px 5px 6px -5px #000;
box-shadow: inset 0px 5px 6px -5px #000;}

/* --- CUERPO/CONTENIDO DE LA SECCION --- */
#content{text-align:center;margin-top:80px;position:absolute;width:100%;}
.limited{width:960px;margin:0 auto 0 auto;position:relative;text-align: center;}

/* --- CONTENIDO DE LA SECCIÓN DE CONTACTO ---- */
#map{width:100%;height:400px;}



/* --- PAGINA NOSOTROS ---- */
#imagearea {background: url(../img/lib/aboutuspage.jpg) center no-repeat; position: relative; width:100%; height: 730px; background-size: 100%; box-shadow: 0px 1px 5px #777;}
#nosotroscontenido { width:880px; padding: 85px 0px; margin: 0 auto; color: black; font-size: 16px; text-align: center;}
#nosotroscontenido h1 {color:#00aeef; font-size: 24px; margin-bottom: 45px;}
#nosotroscontenido #descripcion {}
#nosotroscontenido #ceoarea {height: 250px; margin-top: 115px;}
#nosotroscontenido #ceoarea #ceoquote {font-size: 24px; color: #231f20; width:600px; float:left; padding-top: 70px;}
#nosotroscontenido #ceoarea #ceoquote #ceoname {  font-family:'helveticaneue', sans-serif;font-size: 14px; text-align: right; color: #888; margin-top: 15px; font-style: normal;}
#nosotroscontenido #ceoarea #ceoquote #ceoname span { font-family:'helveticaneuebold', sans-serif;}
#nosotroscontenido #ceoimg {height: 245px; width: 245px; float: right; background: url(../img/lib/CEO.png);}



