
@font-face {
	font-family: 'DidotLTPro-Italic';
	src: url('../fonts/didot.eot');
	src: url('../fonts/didot.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/didot.woff') format('woff'),
		 url('../fonts/didot.ttf') format('truetype');
		}
@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helveticaneue_bold-webfont.eot');
    src: url('../fonts/helveticaneue_bosld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue_bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue_bold-webfont.svg#helveticaneuebold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuelight';
    src: url('../fonts/helveticaneue_light-webfont.eot');
    src: url('../fonts/helveticaneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue_light-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue_light-webfont.svg#helveticaneuelight') format('svg');
    font-weight: 100;
    font-style: normal;

}

*{margin:0;padding:0;font-family:'helveticaneuelight', sans-serif; }
*, body, html { -webkit-font-smoothing: antialiased;}
a{text-decoration:none;}

@-moz-document url-prefix() {
  .firefix {
    font-weight: normal;
  }
}

body{text-align:center; font-family:'helveticaneuelight', sans-serif; }

.bold{font-weight: bold;}
.didot {font-family: 'DidotLTPro-Italic', sans-serif;}

.last{margin-right:0 !important;}

#header{position:absolute;width:100%;
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 0px 2px 5px #333;
z-index:10;
}

.fullframe {position:relative; z-index:3; background: white;-moz-box-shadow: 0px 5px 6px -5px #000;
-webkit-box-shadow: 0px 5px 6px -5px #000;
box-shadow: 0px 5px 6px -5px #000;}

#header #menu-sup{background:#e0e0e0 url(../img/lib/menu-bg.png) repeat-x; height:80px;text-align:center; font-size: 14px; font-family:'helveticaneue', sans-serif; position: fixed;
width: 100%; -moz-box-shadow: 0px 0px 7px 0px #000;
-webkit-box-shadow: 0px 0px 7px 0px #000;
box-shadow: 0px 0px 7px 0px #000;}
#header #menu-sup #menu-content{width:960px;margin:auto;position:relative;}
#header #menu-sup #menu-content #logo{width:210px;height:75px;position:absolute;background:url(../img/lib/logo.png) no-repeat center;margin:0;}

#header #menu-sup #menu-content #opciones{position:absolute;right:0;height:80px;overflow-x:auto;}
#header #menu-sup #menu-content #opciones .opcion{float:left; margin:45px 15px 0px 15px;display:block;color:#747474;font-size:14px; padding-bottom: 3px; text-shadow: 0px 1px rgba(255,255,255,.4);}

#header #menu-sup #menu-content #opciones .opcion:hover{color: white; text-shadow: 0px 0px rgba(255,255,255,.4);}

#header #menu-sup #menu-content #opciones #selectedbar {height:2px; background-color:#00aeef; display:block; position: absolute; margin-top: 62px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    }
#header #menu-sup #menu-content #opciones #selectedbar.shome {width:31px; margin-left: 15px;}
#header #menu-sup #menu-content #opciones #selectedbar.sprod {width:63px; margin-left: 76px;}
#header #menu-sup #menu-content #opciones #selectedbar.snoso {width:56px; margin-left: 168px;}
#header #menu-sup #menu-content #opciones #selectedbar.ssopo {width:98px; margin-left: 253px;}
#header #menu-sup #menu-content #opciones #selectedbar.sdist {width:83px; margin-left: 381px;}
#header #menu-sup #menu-content #opciones #selectedbar.scont {width:57px; margin-left: 493px;}

#footer{height:550px; background:url(../img/lib/bg-footer.png) repeat-x; position: fixed; bottom: 0; width: 100%; z-index: 2;
}
#footer a{font-weight:bold; color:#fff;}
#footer a:hover{text-decoration: underline;}

#footerplaceholder { height: 550px; position: relative; z-index: 1; }

/* --- FOOTER --- */
#footer #footerinfo {height:450px; border-bottom: 1px solid #00aeef; text-align: left; font-family:'helveticaneue', sans-serif;}
/*#footer #footerinfo #map {background: url(../img/lib/footermap.jpg) no-repeat; position: absolute; margin: 100px 0px 0px 47px;}*/
#footer #footerinfo #leftarea {color: white; font-size: 13px; float: left; width:47%; position: relative; z-index: 2; margin-left: 47px;}
#footer #footerinfo #leftarea h1 {font-size: 50px; margin: 50px 0px 35px 0px; font-family: 'helveticaneuebold', sans-serif; }
#footer #footerinfo #leftarea span{font-weight: bold; font-family: 'helveticaneuebold', sans-serif;}
#footer #footerinfo #rightarea {font-family:'helveticaneuebold', sans-serif; color: white; font-size: 16px; float: right; width:47%; padding-top: 90px; position: relative; z-index: 2;}
#footer #footerinfo #rightarea input {font-family:'helveticaneue', sans-serif; width:280px; height: 35px; padding: 0px 10px; color:#b6b6b6; font-size: 14px; border-radius: 3px; border: none; margin-top: 20px;}
#footer #footerinfo #rightarea #enviarbtn:hover {cursor: pointer;}
#footer #footerinfo #rightarea #enviarbtn {font-family:'helveticaneuebold', sans-serif; width: 300px; height:40px; border: 1px solid #04527f; background:url(../img/lib/btnbg.png) repeat-x; color: white; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5);}
#footer #footerinfo #rightarea #social {position: absolute; margin-top: -30px; margin-left: 215px;}
#footer #footerinfo #rightarea #social a#twitter { display: block; float: left;background:url(../img/lib/twitter.png); height: 35px; width: 35px;}
#footer #footerinfo #rightarea #social a#facebook { display: block; float: left; background:url(../img/lib/facebook.png); height: 35px; width: 35px; margin-left: 15px;}
#footer #footerinfo #rightarea #social #facebook:hover, #footer #footerinfo #rightarea #social #twitter:hover {background-position: 0px 35px;}
#footer #footerinfo #rightarea #bottombar {border-bottom: 1px solid #00aeef; width:300px; height:1px; margin: 55px 0px 40px 0px;}
#footer #copyright { font-size: 10px; text-align: center; margin-top: 40px; color: white;}

#mapita{height:170px;width:300px;border:solid 1px #fff;margin-bottom:30px; background: url(../img/lib/minimap.jpg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;}
#mapita:hover {border: 1px solid #00aeef;}

/* --- ESTILOS DE LA SECCION HOME --- */
#slider {position: fixed;}
.slidesbg {background-attachment: fixed; width:100% !important; height: 100%; }
#slide1 {background-image: url(../img/slider/slider-bg-3.jpg);}
#slide2 {background-image: url(../img/slider/slider-bg-2.jpg);
background-size: cover;
background-attachment: fixed;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://midea.com.mx/media/img/slider/slider-bg-2.jpg',
sizingMethod='scale');}

#slide3 {background-image: url(../img/slider/slider-bg-1.jpg);
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://midea.com.mx/media/img/slider/slider-bg-1.jpg',
sizingMethod='scale');
background-attachment: fixed;}

#slider .ls-layer {background-position: center top;}
#slider .ls-layer .sliderbg{width: 100% !important; left: 0; margin-left: auto; right: 0; margin-right: auto;}
#slider .ls-layer .sliderbg img {}

#slider .slide-img {left: 0 !important;
right: 0;
margin-left: auto !important;
margin-right: auto !important;}

#slider .slide-text {left: 0 !important;
right: 0;
margin-left: auto !important;
margin-right: auto !important;}


#big-slider{height:700px;background:url(../img/lib/slider-bg-1.jpg) center;}
#big-slider .slider-content div{position:absolute;width:100%;}
#big-slider .slider-content .slider-text{font-size:55px;color:#fff;margin:140px 0 20px 0px;font-family:'helveticaneuelight', sans-serif; text-shadow: 0px 2px 3px #333}
#big-slider .slider-content .slider-img{margin:280px 0 20px 0px;}

.homeframe {background-color: white; padding: 80px 0px; position: relative;
-moz-box-shadow: 0px 0px 7px 0px #333;
-webkit-box-shadow: 0px 0px 7px 0px #333;
box-shadow: 0px 0px 7px 0px #333;}


#big-buttons{width:960px;margin:0 auto ; height:500px;}
#big-buttons .button{width:265px;min-height:400px;float:left;overflow-y:auto;margin-right:80px;display:block;}
#big-buttons .button .title{font-size:24px;text-align: center;color:#00aeef;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;}
#big-buttons .button .icon{margin:45px 0 40px; height:255px; position: relative;overflow:hidden;}
#big-buttons .button .icon img {position: absolute; left: 0;}
#big-buttons .button .zoomico {
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;}
#big-buttons .button .icon:hover > .zoomico {-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);}

a .icon img {border: none;}
#big-buttons .button .text{text-align: justify;color:#888; font-size:16px; font-family: 'helveticaneue', sans-serif;}

#big-buttons .button:hover .title { color: #999;}


#soporte-frame{background: url(../img/lib/bg-frame-soporte.jpg) center no-repeat;height:465px; background-size: cover; background-attachment: fixed;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://midea.com.mx/media/img/lib/bg-frame-soporte.jpg',
sizingMethod='scale');
}
#soporte-frame .shadow {background: url(../img/lib/soporteframe.png) repeat-x; position: absolute; height: 465px; width: 100%;}

#lider-frame{background: url(../img/lib/bg-lider-frame.png) center repeat-x;height:705px;
-moz-box-shadow: 0px -5px 6px -5px #000;
-webkit-box-shadow: 0px -5px 6px -5px #000;
box-shadow: 0px -5px 6px -5px #000;}
#lider-frame #icon-lider{position:absolute;background: url(../img/lib/icon-lider.png) center no-repeat;height:200px;width:100%;margin:115px 0 50px 0;}
#lider-frame #img-lider{position:absolute;background: url(../img/lib/lider-img.png) center no-repeat;height:245px;width:100%;bottom:0;}
#lider-frame #content-lider{font-size: 24px; color: #909090; position: absolute; margin-top: 375px; width:100%;}

/* --- SOPORTE FRAME --- */
.twocolumns {width: 100%; position: relative; float:left; color: white; padding-top: 60px;text-align: center}
.twocolumns div {font-family:'helveticaneue', sans-serif; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5); margin-bottom: 40px; text-align: left; font-size: 16px;text-align: center;}
.twocolumns .bigtext {font-size: 50px; font-weight: bold; font-family: 'helveticaneuebold', sans-serif;}

.twocolumns form {text-align: left;}
.twocolumns input {font-family:'helveticaneue', sans-serif; width:280px; height: 35px; padding: 0px 10px; color:#b6b6b6; font-size: 12px; border-radius: 3px; border: none; margin-bottom: 20px;}
.twocolumns textarea {font-family:'helveticaneue', sans-serif; min-width:280px; max-width: 280px; min-height: 60px; max-height: 60px; padding: 10px 10px; color:#b6b6b6; font-size: 12px; border-radius: 3px; border: none; margin-bottom: 20px;}
.twocolumns #enviarbtn { margin-bottom: 40px; font-family:'helveticaneuebold', sans-serif; font-size:14px; width: 360px; height:50px; border: 1px solid #04527f; background:url(../img/lib/btnbg.png) repeat-x; background-size: auto 100%; color: white; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5); 
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://midea.com.mx/media/img/lib/btnbg.png',
sizingMethod='scale');
}
.twocolumns #enviarbtn:hover {cursor: pointer;}
.twocolumns .innershadow {-moz-box-shadow: inset 0px 5px 6px -5px #000;
-webkit-box-shadow: inset 0px 5px 6px -5px #000;
box-shadow: inset 0px 5px 6px -5px #000;}

/* --- CUERPO/CONTENIDO DE LA SECCION --- */
#content{text-align:center;margin-top:80px;position:absolute;width:100%;}
.limited{width:960px;margin:0 auto 0 auto;position:relative;text-align: center;}

/* --- CONTENIDO DE LA SECCIÓN DE CONTACTO ---- */
#map{width:100%;height:400px;}
textarea {margin-top: 20px;font-family:'helveticaneue', sans-serif; min-width:280px; max-width: 280px; min-height: 60px; max-height: 60px; padding: 10px 10px; color:#b6b6b6; font-size: 14px; border-radius: 3px; border: none; }

/* SCROLL FIX */
.displaynone {display: none !important;}

.boxshadow {-moz-box-shadow: 0px 0px 7px 0px #666;
-webkit-box-shadow: 0px 0px 7px 0px #666;
box-shadow: 0px 0px 7px 0px #666;}

/* --- PAGINA NOSOTROS ---- */
#imagearea {background: url(../img/lib/aboutuspage.jpg) bottom no-repeat; position: fixed; width:100%; height: 500px; 
background-size: cover;  z-index:-1;}
#imagarea-holder {position: relative; width:100%; height: 500px; display:block; -webkit-box-shadow: inset 0px -15px 9px -15px #666;
-moz-box-shadow: inset 0px -15px 9px -15px #666;
box-shadow: inset 0px -15px 9px -15px #666;}
.nosotroscontenido { width:880px; padding: 60px 0 85px; margin: 0 auto; color: black; font-size: 16px; text-align: center;}
.nosotroscontenido h1 {color:#00aeef; font-size: 24px; margin-bottom: 45px;}
.nosotroscontenido #descripcion {}
#ceosection {background-color: white; width:100%; height:250px;}
#ceosection #ceoarea { margin: 0 auto; width:880px; height: 100%;}
#ceosection #ceoarea #ceoquote {font-size: 24px; color: #231f20; width:600px; float:left; padding-top: 70px;}
#ceosection #ceoarea #ceoquote #ceoname {  font-family:'helveticaneue', sans-serif;font-size: 14px; text-align: right; color: #888; margin-top: 15px; font-style: normal;}
#ceosection #ceoarea #ceoquote #ceoname span { font-family:'helveticaneuebold', sans-serif;}
#ceoimg {height: 245px; width: 245px; float: right; background: url(../img/lib/CEO.png);}

.nosotroscontenido .columna {display:inline-block; width:30%; padding: 0px 12px;}
.nosotroscontenido .columna .numero {color:#00acee; font-size:100px; font-family:'helveticaneuebold', sans-serif;}
.nosotroscontenido .columna .numero span {font-size: 60px; display: inline-block; margin: -50px 10px; font-family:'helveticaneuebold', sans-serif;}
.nosotroscontenido .columna .desc {font-size:14px; line-height: 20px;}

.divider {background: url(../img/lib/divider.png); height:27px; width:882px; margin: 0 auto;}
.greysection {background-color: #f0f0f0; padding: 0px 0px 70px 0px;}
.greysection .greywrapper {width:880px; height:80px; margin: 0 auto;}
.greysection .title { margin-top: 50px; font-size: 40px; font-family:'helveticaneuebold', sans-serif; color:#00acee; letter-spacing: -1px;}
.greysection .subtitle {font-size:14px; margin-top: 15px; }

.nosotroscontenido .square {display: inline-block; width: 382px;  height: 183px;}
.nosotroscontenido .top {border-bottom: 1px solid #00acee; margin-bottom: -4px;}
.nosotroscontenido .right { border-left: 1px solid #00acee; margin-left: -4px;}

.nosotroscontenido #tl {background: url(../img/lib/tl.png);}
.nosotroscontenido #tr {background: url(../img/lib/tr.png);}
.nosotroscontenido #bl {background: url(../img/lib/bl.png);}
.nosotroscontenido #br {background: url(../img/lib/br.png);}


/* --- PAGINA PRODUCTOS --- */

#productosintro {width:100%; height: 500px; padding-top:60px; background: url(../img/lib/productosbg.jpg) #02b0f1 center no-repeat; position: fixed; }
#productosintro #introtitle { margin:0px auto 55px; font-size: 60px; color: #fff; text-shadow: 0px 2px 3px #333;}
#productosintro #productosimg {background: url(../img/lib/productosintro.png); width:806px; height: 296px; display:block; margin: 0 auto; }

.producto { height:550px; width:100%; position: relative; background-color: white; }
.producto .productocontent {height:100%; width:880px; margin: 85px 0px 95px; position: absolute; left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
 }
 .producto .productodivision { background: url(../img/lib/divider.png); height:27px; width:882px; position: absolute;left: 0;
right: 0;
margin-left: auto;
margin-right: auto;}
.producto .productocontent .infoarea { float:left; width:290px; font-size: 14px; text-align: left;}
.producto .productocontent .modelotitle {font-size: 24px; color: #00aeef;}
.producto .productocontent .modeloinfo {margin: 20px 0px;}
.producto .productocontent .modeloinfo ul {margin: 25px 0px 50px 15px; list-style-image: url(../img/lib/bullet.png);}
.producto .productocontent .modeloinfo li {padding-left: 15px; }
.producto .productocontent a { text-align: center; border-radius: 3px; display:block; font-family:'helveticaneuebold', sans-serif; font-size:16px; line-height: 30px; width: 150px; height:30px; border: 1px solid #04527f; background:url(../img/lib/btnbg.png) repeat-x; color: white; text-shadow: 0px 0px 6px rgba(0,0,0, 0.5); }

.producto .imgarea {float: right; height: 350px; width:585px;}
.producto .imgarea .modeloimg {height: 350px; position: relative;}
.producto img {top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute;}

.productopar {background-color: #f0f0f0;}
.productopar .productocontent .infoarea {float: right;}
.productopar .productocontent .imgarea {float: left;}

/* --- PAGINA SOPORTE --- */

.serviciostext {font-size: 26px; color: #231f20; width:600px; padding-top: 75px;}

.teamsoporte {background: url(../img/lib/team.jpg) top;}
.teamdist {background: url(../img/lib/teamdist.jpg) top;}
#teamarea { background-attachment: fixed; background-size: cover; width:100%; height: 550px;
-moz-box-shadow: inset 0px 5px 6px -5px #666;
-webkit-box-shadow: inset 0px 5px 6px -5px #666;
box-shadow: inset 0px 5px 6px -5px #666;}



























